.btn{
    background-color: #387ED7 !important;
    margin: 1%;
    text-transform: none !important;
    margin: auto;
}
.white{
    background-color: rgb(212, 211, 211) !important;
    color: #387ED7 !important;
    font-weight: bold;
    &:hover{
        background-color: #387ED7 !important;
        color: white !important;
    }
}
.blue{
    &:hover{
        background-color: rgb(212, 211, 211) !important;
        color: #387ED7 !important;
    }
}