.skills{
    width: 100%;
    background-color: #070A0F !important;
    padding: 0.5% 0 2% 0;

    &__title{
        width: 25.5%;
        margin: auto;
        margin-top: 7%;
        h2{
            color: #387ED7;
            font-size: 2rem;
        }
        hr{
            width: 50%;
            border: white 2px solid;
        }
        .line-top{
            position: absolute;
            margin-top: -0.5%;
            width: 5% !important;
        }
    }
    &__container{
        width: 80%;
        color: white;
        font-family: "Roboto", "sans-serif" !important;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    &__soft{
        width: 55%;
        text-align: justify;
    }
    &__hard{
        width: 35%;
    }
    &__icons{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .container__icon{
            width: 20%;
            text-align: center;
            span{
                font-size: small !important;
            }
            .icon{
                font-size: 3rem;
            }
        }
    }
}