.card-services{
    width: 10rem;
    text-align: center;
    border: white 2px solid;
    background: rgba(56, 126, 215, 0.07);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    .icon{
        color: #DDDDDD;
        font-size: 3rem;
    }
}