.card-project {
  margin-bottom: 2rem;

  .avatar {
    object-fit: cover !important;
    background-color: white;

    img {
      width: 100%;
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }
}
